<div class="bookings-table" *ngIf="bookings; else noBookings">
    <table id="bookings-table-display">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th> Username</th>
                <th>Tour</th>
                <th>Hotel</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="display-bookings">
            <tr *ngFor="let booking of bookings">
                <td>{{booking.id}}</td>
                <td>{{booking.user_id}}</td>
                <td>{{booking.tour_id}}</td>
                <td>{{booking.hotel_id}}</td>
                <td> {{booking.startDate}}</td>
                <td>{{booking.endDate}}</td>
                <td>{{booking.people}}</td>
                <td><i class='bx bxs-edit-alt'></i>
                    <i id="trash" class='bx bxs-trash'></i>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<ng-template #noBookings>
    <i>No Bookings Yet</i>
</ng-template>