.hotelsUserDiv {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 90%;
    /* height: 550px; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* display: block; */
    align-items: center;

}

.mainContainerUser h2 {
    color: var(--black);
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 43px;
}



/* User Dashboard Hotels */
.hotels-all-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    /* border-color: 2px solid black; */
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.hotel-all-container {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image-hotels img {
    width: 100%;
    height: 200px;
}

.each-hotel-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hotels-all-display h4 {
    font-size: 20px;
}


.last-thing-hotel {
    display: flex;
    gap: 40px;
    align-items: center;
}

.last-thing-hotel p {
    font-size: 14px;
}

.rating {
    font-weight: 400;
    font-size: 14px;
}
.last-thing-hotel button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 35px;
    width: 100px;
    border: none;
}

.last-thing-hotel button:hover {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}