<div class="first-div">
    <div class="nav1">
        <div class="nav1-left">
            <p>Email</p>
            <p>+2547 90 118 500</p>
        </div>
        <div class="nav1-center">
            <h1>H</h1>
            <h2>TOURS AND TRAVELS</h2>
        </div>
        <div class="nav1-right">
            <div class="contacts">
                <p>Email</p>
                <p>+2547 90 118 500</p>
            </div>
            <div class="contact-icon">
                <!-- <ion-icon name="call-outline"></ion-icon> -->
            </div>
        </div>
    </div>
    <div class="nav2">
        <div class="nav-links">
            <a href="#" class="nav-link">HOME</a>
            <a routerLink="userDashboard/hotels" class="nav-link">HOTELS</a>
            <a routerLink="userDashboard/bookings" class="nav-link">BOOKINGS</a>
            <a routerLink="userDashboard/tours" class="nav-link">TOURS</a>
            <a routerLink="login" class="nav-link" *ngIf="!auth.showStatus()">LOGIN</a>
            <a routerLink="register" class="nav-link" *ngIf="!auth.showStatus()">SIGNUP</a>
        </div>
        <div class="username-icon">
            <!-- <ion-icon name="person-outline"></ion-icon> -->
            <p class="username" id="username"></p>
        </div>
        <div class="message">
            <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon> -->
            <i class='bx bxs-message-rounded-dots'></i>
        </div>
    </div>
    <div class="main-message">
        <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
        <div class="h3">
            <h3>Enjoy A Luxury </h3>
            <h3>Experience</h3>
        </div>


        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
    </div>

    <div class="button-div">
        <button><a href="userDashboard.html">Book Now</a></button>
    </div>
</div>