<div class="adminContainer">
    <app-admin-nav-bar></app-admin-nav-bar>
    <!-- <app-admin-main-content></app-admin-main-content> -->
    <div class="adminContainerRight">
        <div class="home">
            <div class="first-admin-div">
                <div class="left-first-div">
                    <div class="backgroundForIcon">
                        <!-- <ion-icon name="bed"></ion-icon> -->
                    </div>
                    <div class="admin-main-links">
                        <h3>Hotel</h3>
                    </div>
                </div>
                <div class="right-first-div">
                    <div class="backgroundForIcon">
                        <!-- <ion-icon name="people"></ion-icon> -->
                    </div>
                    <div class="admin-main-links">
                        <h3>Users</h3>
                    </div>

                </div>
            </div>
            <div class="second-admin-div">
                <div class="left-second-div">
                    <div class="backgroundForIcon">
                        <!-- <ion-icon name="airplane"></ion-icon> -->
                    </div>
                    <div class="admin-main-links">
                        <h3>Tour</h3>
                    </div>
                </div>
                <div class="right-second-div">
                    <div class="backgroundForIcon">
                        <!-- <ion-icon name="bookmark"></ion-icon> -->
                    </div>
                    <div class="admin-main-links">
                        <h3>Bookings</h3>
                    </div>

                </div>
            </div>
        </div>
        </div>

</div>
