<footer>
    <div class="links">
        <div class="company-info">
            <h4>Company Info</h4>
            <a href="#">About Us</a>
            <a href="#">Carrier</a>
            <a href="#">We are hiring</a>
            <a href="#">Blog</a>
        </div>
        <div class="legal">
            <h4>Legal</h4>
            <a href="#">About Us</a>
            <a href="#">Carrier</a>
            <a href="#">We are hiring</a>
            <a href="#">Blog</a>
        </div>
        <div class="features">
            <h4>Features</h4>
            <a href="#">Business Marketing</a>
            <a href="#">User Analytics</a>
            <a href="#">Live Chat</a>
            <a href="#">Unlimited Support</a>
        </div>
        <div class="resources">
            <h4>Resources</h4>
            <a href="#">IOS and Android</a>
            <a href="#">Watch a Demo</a>
            <a href="#">Customers</a>
            <a href="#">API</a>
        </div>
        <div class="get-in-touch">
            <h4>Get In Touch</h4>
            <!-- <p><ion-icon name="call-outline"></ion-icon>(480) 555-0103</p>
            <p><ion-icon name="location-outline"></ion-icon>4517 Washington Ave.</p>
            <p><ion-icon name="mail"></ion-icon></p> -->
        </div>
    </div>
    <div class="last-thing">
        <div class="copyright">
            <p>Made With Love By Sally Gitonga All Rights Reserved</p>
        </div>
        <div class="socials">
            <!-- <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon class="twitter" name="logo-twitter"></ion-icon> -->
        </div>
    </div>
</footer>
