<div class="make-booking">
    <div class="booking-success-message"></div>
    <div class="booking-error-message"></div>
    <form action="">
        <div class="book-tour-header">
            <h2>Book your Tour</h2>
            <button id="closeBookTourButton">&times;</button>
        </div>
        <div class="make-booking-body">
            <div class="tour-name">
                <label class="tour-name-booking">Malindi Tour</label>
                <p class="tour-price-booking">Price</p>
            </div>

            <div class="booking-hotel">
                <label>Hotel</label>
                <select>
                    <!-- <option value="">Panafric</option>
                    <option value="">Serena</option>
                    <option value="">Panari</option> -->
                </select>
            </div>

            <div class="number-of-people"><label for="">Number of People</label><input class="numberOfPeople"
                    type="number">
            </div>

            <div class="date">
                <label for="">Starting From</label>
                <input type="date" class="endingDate">
            </div>
            <div class="date">
                <label for="">Ending In</label>
                <input type="date" class="startingDate">
            </div>
            <button id="make-booking-btn">Make Booking</button>
        </div>

    </form>
</div>